body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Teko', sans-serif;
}

.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  font-size: 28px;
  margin: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 20px;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  color: #000000;
}

.navbar li:hover a::before {
  transform: scaleX(1);
}

.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


.footer-content {
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
}


.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}


.footer a:hover {
  text-decoration: underline;
}


.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}


.social-icons a:hover {
  text-decoration: none;
  color: #007bff; 
}

.banner {
  background-image: url('.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  padding: 100px 0;
}

.banner h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 40px;
}

.banner a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #e74c3c;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.banner a:hover {
  background-color: #ffffff;
}